body {
  background-image: url(images/brown2.jpg);
}

.card {
  margin: 30px auto;
  border-radius: 8px;
  max-width: 700px;
  background-color: #faebe0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 20px;
}

.emoji {
  font-size: 70px;
}

.days {
  font-size: 15px;
}

.condition {
  font-size: 10px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  list-style: none;
}

.searchBar {
  padding: 20px;
  border-radius: 5px;
}

.btn-primary {
  background: #ba9986;
}
.temperature {
  color: rgb(33, 33, 33);
  font-size: 70px;
  font-weight: 400;
  line-height: 1;
}

.searchCity {
  border-radius: 5px;
  border-color: #cdbba7;
  line-height: 30px;
  width: 100%;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: black;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}
.weather-forecast-temperature {
  font-size: 13px;
}

footer {
  text-align: center;
}
